.container {
  width: 100%;
  height: 100vh;

  background-color: #f2f2f2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #264653;
}

.container > h1 {
  font-size: xx-large;
}

.container > h1, button, p {
  margin-bottom: 1.5rem;
}

.board {
  display: flex;
  width: 18rem;
  flex-wrap: wrap;
  opacity: 1;
}

.board.gameOver {
  opacity: 0.5;
}

.cell {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  background-color: #fff;

  cursor: pointer;
  border-radius: 5px;
}

.O {
  background-color: #c8f0ff;
}

.X {
  background-color: #ffcccc;
}